!.gitkeep
.svn
.DS_Store
sandbox/
log/*.log
log/*.status
core/reports/phpunit.xml
core/reports/phpdoc
core/WebStream/Test/Sample/app/views/_cache/
core/WebStream/Test/Sample/log/*.log
core/WebStream/Test/Sample/log/*.status
app/views/_cache/
vendor
composer.phar
composer.lock