<rdf:RDF
 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
 xmlns:dcterms="http://purl.org/dc/terms/">
  <rdf:Description rdf:about="urn:states:New%20York">
    <dcterms:alternative>RDF</dcterms:alternative>
  </rdf:Description>
</rdf:RDF>