<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="AllTests" tests="229" assertions="865" failures="0" errors="0" time="7.771753">
    <testsuite name="AnnotationTest" file="/Users/stay/workspace2/WebStream/core/test/AnnotationTest.php" tests="4" assertions="6" failures="0" errors="0" time="0.014962">
      <testcase name="testOkGetInjectAnnotation" class="AnnotationTest" file="/Users/stay/workspace2/WebStream/core/test/AnnotationTest.php" line="18" assertions="1" time="0.004996"/>
      <testcase name="testOkClassAnnotation" class="AnnotationTest" file="/Users/stay/workspace2/WebStream/core/test/AnnotationTest.php" line="28" assertions="2" time="0.006238"/>
      <testcase name="testOkMethodAnnotation" class="AnnotationTest" file="/Users/stay/workspace2/WebStream/core/test/AnnotationTest.php" line="39" assertions="2" time="0.001955"/>
      <testcase name="testNgGetInjectAnnotation" class="AnnotationTest" file="/Users/stay/workspace2/WebStream/core/test/AnnotationTest.php" line="50" assertions="1" time="0.001773"/>
    </testsuite>
    <testsuite name="CacheTest" file="/Users/stay/workspace2/WebStream/core/test/CacheTest.php" tests="15" assertions="20" failures="0" errors="0" time="2.032442">
      <testcase name="testOkCreateCache" class="CacheTest" file="/Users/stay/workspace2/WebStream/core/test/CacheTest.php" line="21" assertions="1" time="0.001032"/>
      <testsuite name="CacheTest::testOkCreateCacheCustomDir" tests="1" assertions="1" failures="0" errors="0" time="0.000719">
        <testcase name="testOkCreateCacheCustomDir with data set #0" assertions="1" time="0.000719"/>
      </testsuite>
      <testsuite name="CacheTest::testOkSave" tests="4" assertions="4" failures="0" errors="0" time="0.011707">
        <testcase name="testOkSave with data set #0" assertions="1" time="0.003792"/>
        <testcase name="testOkSave with data set #1" assertions="1" time="0.002124"/>
        <testcase name="testOkSave with data set #2" assertions="1" time="0.002987"/>
        <testcase name="testOkSave with data set #3" assertions="1" time="0.002804"/>
      </testsuite>
      <testsuite name="CacheTest::testOkMetaData" tests="2" assertions="2" failures="0" errors="0" time="0.003113">
        <testcase name="testOkMetaData with data set #0" assertions="1" time="0.001602"/>
        <testcase name="testOkMetaData with data set #1" assertions="1" time="0.001511"/>
      </testsuite>
      <testsuite name="CacheTest::testOkDeleteCache" tests="1" assertions="3" failures="0" errors="0" time="0.002239">
        <testcase name="testOkDeleteCache with data set #0" assertions="3" time="0.002239"/>
      </testsuite>
      <testsuite name="CacheTest::testOkOverwriteSave" tests="1" assertions="2" failures="0" errors="0" time="0.003326">
        <testcase name="testOkOverwriteSave with data set #0" assertions="2" time="0.003326"/>
      </testsuite>
      <testsuite name="CacheTest::testOkWriteArrayData" tests="1" assertions="1" failures="0" errors="0" time="0.002543">
        <testcase name="testOkWriteArrayData with data set #0" assertions="1" time="0.002543"/>
      </testsuite>
      <testsuite name="CacheTest::testNgInvalidSaveDir" tests="1" assertions="1" failures="0" errors="0" time="0.001436">
        <testcase name="testNgInvalidSaveDir with data set #0" assertions="1" time="0.001436"/>
      </testsuite>
      <testsuite name="CacheTest::testNgCreateCacheCustomDir" tests="1" assertions="1" failures="0" errors="0" time="0.000695">
        <testcase name="testNgCreateCacheCustomDir with data set #0" assertions="1" time="0.000695"/>
      </testsuite>
      <testsuite name="CacheTest::testNgInvalidDeletePath" tests="1" assertions="1" failures="0" errors="0" time="0.001093">
        <testcase name="testNgInvalidDeletePath with data set #0" assertions="1" time="0.001093"/>
      </testsuite>
      <testsuite name="CacheTest::testNgTimeOverCache" tests="1" assertions="3" failures="0" errors="0" time="2.004539">
        <testcase name="testNgTimeOverCache with data set #0" assertions="3" time="2.004539"/>
      </testsuite>
    </testsuite>
    <testsuite name="CoreModelTest" file="/Users/stay/workspace2/WebStream/core/test/CoreModelTest.php" tests="10" assertions="585" failures="0" errors="0" time="0.214591">
      <testsuite name="CoreModelTest::testOkExecuteSQL" tests="2" assertions="2" failures="0" errors="0" time="0.051225">
        <testcase name="testOkExecuteSQL with data set #0" assertions="1" time="0.032782"/>
        <testcase name="testOkExecuteSQL with data set #1" assertions="1" time="0.018443"/>
      </testsuite>
      <testcase name="testOkExecuteMapping" class="CoreModelTest" file="/Users/stay/workspace2/WebStream/core/test/CoreModelTest.php" line="73" assertions="575" time="0.028441"/>
      <testcase name="testOkChangeDatabase" class="CoreModelTest" file="/Users/stay/workspace2/WebStream/core/test/CoreModelTest.php" line="86" assertions="1" time="0.021156"/>
      <testcase name="testOkInjectedSQL" class="CoreModelTest" file="/Users/stay/workspace2/WebStream/core/test/CoreModelTest.php" line="96" assertions="1" time="0.022050"/>
      <testcase name="testOkInjectedSQLWithBind" class="CoreModelTest" file="/Users/stay/workspace2/WebStream/core/test/CoreModelTest.php" line="106" assertions="2" time="0.019027"/>
      <testcase name="testNgExecuteMapping" class="CoreModelTest" file="/Users/stay/workspace2/WebStream/core/test/CoreModelTest.php" line="118" assertions="1" time="0.019056"/>
      <testcase name="testNgNotFoundPropertiesAnnotation" class="CoreModelTest" file="/Users/stay/workspace2/WebStream/core/test/CoreModelTest.php" line="128" assertions="1" time="0.017705"/>
      <testcase name="testNgNotFoundTableAnnotation" class="CoreModelTest" file="/Users/stay/workspace2/WebStream/core/test/CoreModelTest.php" line="137" assertions="1" time="0.018717"/>
      <testcase name="testNgNotFoundDatabaseAnnotation" class="CoreModelTest" file="/Users/stay/workspace2/WebStream/core/test/CoreModelTest.php" line="146" assertions="1" time="0.017214"/>
    </testsuite>
    <testsuite name="DatabaseTest" file="/Users/stay/workspace2/WebStream/core/test/DatabaseTest.php" tests="4" assertions="4" failures="0" errors="0" time="0.090997">
      <testcase name="testOkInsert" class="DatabaseTest" file="/Users/stay/workspace2/WebStream/core/test/DatabaseTest.php" line="32" assertions="1" time="0.014222"/>
      <testcase name="testOkSelect" class="DatabaseTest" file="/Users/stay/workspace2/WebStream/core/test/DatabaseTest.php" line="43" assertions="1" time="0.017017"/>
      <testcase name="testOkUpdate" class="DatabaseTest" file="/Users/stay/workspace2/WebStream/core/test/DatabaseTest.php" line="58" assertions="1" time="0.016953"/>
      <testcase name="testOnDelete" class="DatabaseTest" file="/Users/stay/workspace2/WebStream/core/test/DatabaseTest.php" line="77" assertions="1" time="0.042805"/>
    </testsuite>
    <testsuite name="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" tests="10" assertions="20" failures="0" errors="0" time="2.387578">
      <testcase name="testOkGet" class="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" line="24" assertions="2" time="0.509832"/>
      <testcase name="testOkGetRss" class="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" line="36" assertions="2" time="0.560184"/>
      <testcase name="testOkGetJson" class="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" line="49" assertions="2" time="0.497585"/>
      <testcase name="testOkGetBasicAuth" class="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" line="62" assertions="2" time="0.196890"/>
      <testcase name="testOkPost" class="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" line="78" assertions="2" time="0.148991"/>
      <testcase name="testNgGetTimeout" class="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" line="90" assertions="2" time="0.133310"/>
      <testcase name="testNgPostTimeout" class="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" line="105" assertions="2" time="0.131785"/>
      <testcase name="testNgGetNotFound" class="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" line="120" assertions="2" time="0.054648"/>
      <testcase name="testNgPostNotFound" class="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" line="133" assertions="2" time="0.006908"/>
      <testcase name="testNgGetBasicAuth" class="HttpAgentTest" file="/Users/stay/workspace2/WebStream/core/test/HttpAgentTest.php" line="147" assertions="2" time="0.147445"/>
    </testsuite>
    <testsuite name="LoggerTest" file="/Users/stay/workspace2/WebStream/core/test/LoggerTest.php" tests="78" assertions="83" failures="0" errors="0" time="0.245163">
      <testsuite name="LoggerTest::testOkWriteDebug" tests="10" assertions="10" failures="0" errors="0" time="0.029916">
        <testcase name="testOkWriteDebug with data set #0" assertions="1" time="0.005649"/>
        <testcase name="testOkWriteDebug with data set #1" assertions="1" time="0.003063"/>
        <testcase name="testOkWriteDebug with data set #2" assertions="1" time="0.002874"/>
        <testcase name="testOkWriteDebug with data set #3" assertions="1" time="0.002290"/>
        <testcase name="testOkWriteDebug with data set #4" assertions="1" time="0.002538"/>
        <testcase name="testOkWriteDebug with data set #5" assertions="1" time="0.002862"/>
        <testcase name="testOkWriteDebug with data set #6" assertions="1" time="0.003000"/>
        <testcase name="testOkWriteDebug with data set #7" assertions="1" time="0.002550"/>
        <testcase name="testOkWriteDebug with data set #8" assertions="1" time="0.002557"/>
        <testcase name="testOkWriteDebug with data set #9" assertions="1" time="0.002533"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkWriteInfo" tests="10" assertions="10" failures="0" errors="0" time="0.026250">
        <testcase name="testOkWriteInfo with data set #0" assertions="1" time="0.002523"/>
        <testcase name="testOkWriteInfo with data set #1" assertions="1" time="0.002078"/>
        <testcase name="testOkWriteInfo with data set #2" assertions="1" time="0.002716"/>
        <testcase name="testOkWriteInfo with data set #3" assertions="1" time="0.002751"/>
        <testcase name="testOkWriteInfo with data set #4" assertions="1" time="0.002708"/>
        <testcase name="testOkWriteInfo with data set #5" assertions="1" time="0.002714"/>
        <testcase name="testOkWriteInfo with data set #6" assertions="1" time="0.002751"/>
        <testcase name="testOkWriteInfo with data set #7" assertions="1" time="0.002743"/>
        <testcase name="testOkWriteInfo with data set #8" assertions="1" time="0.002760"/>
        <testcase name="testOkWriteInfo with data set #9" assertions="1" time="0.002506"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkWriteWarn" tests="10" assertions="10" failures="0" errors="0" time="0.025488">
        <testcase name="testOkWriteWarn with data set #0" assertions="1" time="0.002589"/>
        <testcase name="testOkWriteWarn with data set #1" assertions="1" time="0.002358"/>
        <testcase name="testOkWriteWarn with data set #2" assertions="1" time="0.002175"/>
        <testcase name="testOkWriteWarn with data set #3" assertions="1" time="0.002063"/>
        <testcase name="testOkWriteWarn with data set #4" assertions="1" time="0.002789"/>
        <testcase name="testOkWriteWarn with data set #5" assertions="1" time="0.002731"/>
        <testcase name="testOkWriteWarn with data set #6" assertions="1" time="0.002765"/>
        <testcase name="testOkWriteWarn with data set #7" assertions="1" time="0.002514"/>
        <testcase name="testOkWriteWarn with data set #8" assertions="1" time="0.002686"/>
        <testcase name="testOkWriteWarn with data set #9" assertions="1" time="0.002817"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkWriteError" tests="10" assertions="10" failures="0" errors="0" time="0.024599">
        <testcase name="testOkWriteError with data set #0" assertions="1" time="0.002738"/>
        <testcase name="testOkWriteError with data set #1" assertions="1" time="0.002254"/>
        <testcase name="testOkWriteError with data set #2" assertions="1" time="0.002171"/>
        <testcase name="testOkWriteError with data set #3" assertions="1" time="0.002326"/>
        <testcase name="testOkWriteError with data set #4" assertions="1" time="0.002109"/>
        <testcase name="testOkWriteError with data set #5" assertions="1" time="0.002076"/>
        <testcase name="testOkWriteError with data set #6" assertions="1" time="0.002867"/>
        <testcase name="testOkWriteError with data set #7" assertions="1" time="0.002760"/>
        <testcase name="testOkWriteError with data set #8" assertions="1" time="0.002792"/>
        <testcase name="testOkWriteError with data set #9" assertions="1" time="0.002506"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkWriteFatal" tests="10" assertions="10" failures="0" errors="0" time="0.022915">
        <testcase name="testOkWriteFatal with data set #0" assertions="1" time="0.002562"/>
        <testcase name="testOkWriteFatal with data set #1" assertions="1" time="0.002374"/>
        <testcase name="testOkWriteFatal with data set #2" assertions="1" time="0.002161"/>
        <testcase name="testOkWriteFatal with data set #3" assertions="1" time="0.002091"/>
        <testcase name="testOkWriteFatal with data set #4" assertions="1" time="0.002052"/>
        <testcase name="testOkWriteFatal with data set #5" assertions="1" time="0.002069"/>
        <testcase name="testOkWriteFatal with data set #6" assertions="1" time="0.002147"/>
        <testcase name="testOkWriteFatal with data set #7" assertions="1" time="0.002129"/>
        <testcase name="testOkWriteFatal with data set #8" assertions="1" time="0.002777"/>
        <testcase name="testOkWriteFatal with data set #9" assertions="1" time="0.002553"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkRotateCycleWithinDay" tests="2" assertions="2" failures="0" errors="0" time="0.007279">
        <testcase name="testOkRotateCycleWithinDay with data set #0" assertions="1" time="0.004135"/>
        <testcase name="testOkRotateCycleWithinDay with data set #1" assertions="1" time="0.003144"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkRotateCycleDay" tests="2" assertions="2" failures="0" errors="0" time="0.008584">
        <testcase name="testOkRotateCycleDay with data set #0" assertions="1" time="0.004062"/>
        <testcase name="testOkRotateCycleDay with data set #1" assertions="1" time="0.004522"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkRotateCycleWithinWeek" tests="2" assertions="2" failures="0" errors="0" time="0.006782">
        <testcase name="testOkRotateCycleWithinWeek with data set #0" assertions="1" time="0.003689"/>
        <testcase name="testOkRotateCycleWithinWeek with data set #1" assertions="1" time="0.003093"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkRotateCycleWeek" tests="2" assertions="2" failures="0" errors="0" time="0.007256">
        <testcase name="testOkRotateCycleWeek with data set #0" assertions="1" time="0.003814"/>
        <testcase name="testOkRotateCycleWeek with data set #1" assertions="1" time="0.003442"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkRotateCycleWithinMonth" tests="2" assertions="2" failures="0" errors="0" time="0.006600">
        <testcase name="testOkRotateCycleWithinMonth with data set #0" assertions="1" time="0.003421"/>
        <testcase name="testOkRotateCycleWithinMonth with data set #1" assertions="1" time="0.003179"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkRotateCycleMonth" tests="2" assertions="2" failures="0" errors="0" time="0.007066">
        <testcase name="testOkRotateCycleMonth with data set #0" assertions="1" time="0.003634"/>
        <testcase name="testOkRotateCycleMonth with data set #1" assertions="1" time="0.003432"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkRotateCycleWithinYear" tests="2" assertions="2" failures="0" errors="0" time="0.007009">
        <testcase name="testOkRotateCycleWithinYear with data set #0" assertions="1" time="0.003850"/>
        <testcase name="testOkRotateCycleWithinYear with data set #1" assertions="1" time="0.003159"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkRotateCycleYear" tests="2" assertions="2" failures="0" errors="0" time="0.007353">
        <testcase name="testOkRotateCycleYear with data set #0" assertions="1" time="0.003622"/>
        <testcase name="testOkRotateCycleYear with data set #1" assertions="1" time="0.003731"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkRotateSize" tests="2" assertions="2" failures="0" errors="0" time="0.021776">
        <testcase name="testOkRotateSize with data set #0" assertions="1" time="0.011070"/>
        <testcase name="testOkRotateSize with data set #1" assertions="1" time="0.010706"/>
      </testsuite>
      <testsuite name="LoggerTest::testOkRotateSizeWithin" tests="2" assertions="2" failures="0" errors="0" time="0.013547">
        <testcase name="testOkRotateSizeWithin with data set #0" assertions="1" time="0.010892"/>
        <testcase name="testOkRotateSizeWithin with data set #1" assertions="1" time="0.002655"/>
      </testsuite>
      <testcase name="testNgConfigFileNotFound" class="LoggerTest" file="/Users/stay/workspace2/WebStream/core/test/LoggerTest.php" line="518" assertions="2" time="0.002925"/>
      <testcase name="testNgInvalidConfigPath" class="LoggerTest" file="/Users/stay/workspace2/WebStream/core/test/LoggerTest.php" line="530" assertions="2" time="0.002598"/>
      <testcase name="testNgInvalidLogLevel" class="LoggerTest" file="/Users/stay/workspace2/WebStream/core/test/LoggerTest.php" line="542" assertions="2" time="0.002554"/>
      <testcase name="testNgNotPermittedWriteLog" class="LoggerTest" file="/Users/stay/workspace2/WebStream/core/test/LoggerTest.php" line="553" assertions="1" time="0.003656"/>
      <testsuite name="LoggerTest::testNgNotFoundRotateCycleConfig" tests="1" assertions="1" failures="0" errors="0" time="0.002844">
        <testcase name="testNgNotFoundRotateCycleConfig with data set #0" assertions="1" time="0.002844"/>
      </testsuite>
      <testsuite name="LoggerTest::testNgInvalidRotateCycleConfig" tests="1" assertions="2" failures="0" errors="0" time="0.002699">
        <testcase name="testNgInvalidRotateCycleConfig with data set #0" assertions="2" time="0.002699"/>
      </testsuite>
      <testsuite name="LoggerTest::testNgNotFoundRotateSizeConfig" tests="1" assertions="1" failures="0" errors="0" time="0.002718">
        <testcase name="testNgNotFoundRotateSizeConfig with data set #0" assertions="1" time="0.002718"/>
      </testsuite>
      <testsuite name="LoggerTest::testNgInvalidRotateSizeConfig" tests="1" assertions="2" failures="0" errors="0" time="0.002750">
        <testcase name="testNgInvalidRotateSizeConfig with data set #0" assertions="2" time="0.002750"/>
      </testsuite>
    </testsuite>
    <testsuite name="RouterTest" file="/Users/stay/workspace2/WebStream/core/test/RouterTest.php" tests="92" assertions="131" failures="0" errors="0" time="2.145005">
      <testsuite name="RouterTest::testOkResolveRootPath" tests="1" assertions="1" failures="0" errors="0" time="0.119723">
        <testcase name="testOkResolveRootPath with data set #0" assertions="1" time="0.119723"/>
      </testsuite>
      <testsuite name="RouterTest::testOkResolveWithoutPlaceHolder" tests="1" assertions="1" failures="0" errors="0" time="0.110199">
        <testcase name="testOkResolveWithoutPlaceHolder with data set #0" assertions="1" time="0.110199"/>
      </testsuite>
      <testsuite name="RouterTest::testOkResolveWithPlaceHolder" tests="1" assertions="1" failures="0" errors="0" time="0.107812">
        <testcase name="testOkResolveWithPlaceHolder with data set #0" assertions="1" time="0.107812"/>
      </testsuite>
      <testsuite name="RouterTest::testOkResolveCamelAction" tests="2" assertions="2" failures="0" errors="0" time="0.227197">
        <testcase name="testOkResolveCamelAction with data set #0" assertions="1" time="0.114964"/>
        <testcase name="testOkResolveCamelAction with data set #1" assertions="1" time="0.112233"/>
      </testsuite>
      <testsuite name="RouterTest::testOkResolveWithPlaceHolderFormat" tests="1" assertions="1" failures="0" errors="0" time="0.106116">
        <testcase name="testOkResolveWithPlaceHolderFormat with data set #0" assertions="1" time="0.106116"/>
      </testsuite>
      <testsuite name="RouterTest::testOkSnakeController" tests="2" assertions="2" failures="0" errors="0" time="0.034964">
        <testcase name="testOkSnakeController with data set #0" assertions="1" time="0.017004"/>
        <testcase name="testOkSnakeController with data set #1" assertions="1" time="0.017960"/>
      </testsuite>
      <testsuite name="RouterTest::testOkUriWithEncodedString" tests="1" assertions="2" failures="0" errors="0" time="0.018935">
        <testcase name="testOkUriWithEncodedString with data set #0" assertions="2" time="0.018935"/>
      </testsuite>
      <testsuite name="RouterTest::testOkResolveSimilarUrl" tests="2" assertions="4" failures="0" errors="0" time="0.036043">
        <testcase name="testOkResolveSimilarUrl with data set #0" assertions="2" time="0.018421"/>
        <testcase name="testOkResolveSimilarUrl with data set #1" assertions="2" time="0.017622"/>
      </testsuite>
      <testsuite name="RouterTest::testOkNoServiceClass" tests="1" assertions="2" failures="0" errors="0" time="0.017756">
        <testcase name="testOkNoServiceClass with data set #0" assertions="2" time="0.017756"/>
      </testsuite>
      <testsuite name="RouterTest::testOkNoServiceMethod" tests="1" assertions="2" failures="0" errors="0" time="0.017369">
        <testcase name="testOkNoServiceMethod with data set #0" assertions="2" time="0.017369"/>
      </testsuite>
      <testsuite name="RouterTest::testOkSendParamFromControllerToModel" tests="2" assertions="4" failures="0" errors="0" time="0.038673">
        <testcase name="testOkSendParamFromControllerToModel with data set #0" assertions="2" time="0.020609"/>
        <testcase name="testOkSendParamFromControllerToModel with data set #1" assertions="2" time="0.018064"/>
      </testsuite>
      <testsuite name="RouterTest::testOkRenderTemplate" tests="5" assertions="10" failures="0" errors="0" time="0.087575">
        <testcase name="testOkRenderTemplate with data set #0" assertions="2" time="0.017506"/>
        <testcase name="testOkRenderTemplate with data set #1" assertions="2" time="0.017511"/>
        <testcase name="testOkRenderTemplate with data set #2" assertions="2" time="0.017268"/>
        <testcase name="testOkRenderTemplate with data set #3" assertions="2" time="0.017609"/>
        <testcase name="testOkRenderTemplate with data set #4" assertions="2" time="0.017681"/>
      </testsuite>
      <testsuite name="RouterTest::testOkRenderLayoutTemplate" tests="2" assertions="4" failures="0" errors="0" time="0.034910">
        <testcase name="testOkRenderLayoutTemplate with data set #0" assertions="2" time="0.017009"/>
        <testcase name="testOkRenderLayoutTemplate with data set #1" assertions="2" time="0.017901"/>
      </testsuite>
      <testsuite name="RouterTest::testOkGetResource" tests="6" assertions="12" failures="0" errors="0" time="0.091171">
        <testcase name="testOkGetResource with data set #0" assertions="2" time="0.015965"/>
        <testcase name="testOkGetResource with data set #1" assertions="2" time="0.015349"/>
        <testcase name="testOkGetResource with data set #2" assertions="2" time="0.014785"/>
        <testcase name="testOkGetResource with data set #3" assertions="2" time="0.014879"/>
        <testcase name="testOkGetResource with data set #4" assertions="2" time="0.015198"/>
        <testcase name="testOkGetResource with data set #5" assertions="2" time="0.014995"/>
      </testsuite>
      <testsuite name="RouterTest::testOkGetFile" tests="9" assertions="18" failures="0" errors="0" time="0.145405">
        <testcase name="testOkGetFile with data set #0" assertions="2" time="0.014631"/>
        <testcase name="testOkGetFile with data set #1" assertions="2" time="0.015930"/>
        <testcase name="testOkGetFile with data set #2" assertions="2" time="0.015393"/>
        <testcase name="testOkGetFile with data set #3" assertions="2" time="0.026159"/>
        <testcase name="testOkGetFile with data set #4" assertions="2" time="0.014914"/>
        <testcase name="testOkGetFile with data set #5" assertions="2" time="0.014636"/>
        <testcase name="testOkGetFile with data set #6" assertions="2" time="0.014926"/>
        <testcase name="testOkGetFile with data set #7" assertions="2" time="0.014668"/>
        <testcase name="testOkGetFile with data set #8" assertions="2" time="0.014148"/>
      </testsuite>
      <testsuite name="RouterTest::testOkRenderMethod" tests="5" assertions="10" failures="0" errors="0" time="0.085556">
        <testcase name="testOkRenderMethod with data set #0" assertions="2" time="0.016986"/>
        <testcase name="testOkRenderMethod with data set #1" assertions="2" time="0.017107"/>
        <testcase name="testOkRenderMethod with data set #2" assertions="2" time="0.017351"/>
        <testcase name="testOkRenderMethod with data set #3" assertions="2" time="0.016922"/>
        <testcase name="testOkRenderMethod with data set #4" assertions="2" time="0.017190"/>
      </testsuite>
      <testsuite name="RouterTest::testOkGetRequest" tests="1" assertions="2" failures="0" errors="0" time="0.015842">
        <testcase name="testOkGetRequest with data set #0" assertions="2" time="0.015842"/>
      </testsuite>
      <testsuite name="RouterTest::testOkPostRequest" tests="1" assertions="2" failures="0" errors="0" time="0.017010">
        <testcase name="testOkPostRequest with data set #0" assertions="2" time="0.017010"/>
      </testsuite>
      <testsuite name="RouterTest::testOkSetSession" tests="1" assertions="2" failures="0" errors="0" time="0.030470">
        <testcase name="testOkSetSession with data set #0" assertions="2" time="0.030470"/>
      </testsuite>
      <testsuite name="RouterTest::testOkReturnStatusCode" tests="6" assertions="6" failures="0" errors="0" time="0.293153">
        <testcase name="testOkReturnStatusCode with data set #0" assertions="1" time="0.199393"/>
        <testcase name="testOkReturnStatusCode with data set #1" assertions="1" time="0.019081"/>
        <testcase name="testOkReturnStatusCode with data set #2" assertions="1" time="0.018500"/>
        <testcase name="testOkReturnStatusCode with data set #3" assertions="1" time="0.018647"/>
        <testcase name="testOkReturnStatusCode with data set #4" assertions="1" time="0.018643"/>
        <testcase name="testOkReturnStatusCode with data set #5" assertions="1" time="0.018889"/>
      </testsuite>
      <testsuite name="RouterTest::testOkUseHelper" tests="3" assertions="3" failures="0" errors="0" time="0.059537">
        <testcase name="testOkUseHelper with data set #0" assertions="1" time="0.019840"/>
        <testcase name="testOkUseHelper with data set #1" assertions="1" time="0.019697"/>
        <testcase name="testOkUseHelper with data set #2" assertions="1" time="0.020000"/>
      </testsuite>
      <testsuite name="RouterTest::testOkHelperFunctionName" tests="2" assertions="2" failures="0" errors="0" time="0.039189">
        <testcase name="testOkHelperFunctionName with data set #0" assertions="1" time="0.019451"/>
        <testcase name="testOkHelperFunctionName with data set #1" assertions="1" time="0.019738"/>
      </testsuite>
      <testsuite name="RouterTest::testOkNotEntryReferenceInForm" tests="1" assertions="1" failures="0" errors="0" time="0.021008">
        <testcase name="testOkNotEntryReferenceInForm with data set #0" assertions="1" time="0.021008"/>
      </testsuite>
      <testsuite name="RouterTest::testNgResolveUnknown" tests="2" assertions="2" failures="0" errors="0" time="0.033596">
        <testcase name="testNgResolveUnknown with data set #0" assertions="1" time="0.016554"/>
        <testcase name="testNgResolveUnknown with data set #1" assertions="1" time="0.017042"/>
      </testsuite>
      <testsuite name="RouterTest::testNgResolveNotDefinePath" tests="1" assertions="1" failures="0" errors="0" time="0.016473">
        <testcase name="testNgResolveNotDefinePath with data set #0" assertions="1" time="0.016473"/>
      </testsuite>
      <testsuite name="RouterTest::testNgResolveRender" tests="1" assertions="1" failures="0" errors="0" time="0.014384">
        <testcase name="testNgResolveRender with data set #0" assertions="1" time="0.014384"/>
      </testsuite>
      <testsuite name="RouterTest::testNgResolveLayout" tests="1" assertions="1" failures="0" errors="0" time="0.014482">
        <testcase name="testNgResolveLayout with data set #0" assertions="1" time="0.014482"/>
      </testsuite>
      <testsuite name="RouterTest::testNgResolveRedirect" tests="1" assertions="1" failures="0" errors="0" time="0.016436">
        <testcase name="testNgResolveRedirect with data set #0" assertions="1" time="0.016436"/>
      </testsuite>
      <testsuite name="RouterTest::testNgResolveLoad" tests="1" assertions="1" failures="0" errors="0" time="0.014591">
        <testcase name="testNgResolveLoad with data set #0" assertions="1" time="0.014591"/>
      </testsuite>
      <testsuite name="RouterTest::testNgResolveBefore" tests="1" assertions="1" failures="0" errors="0" time="0.014861">
        <testcase name="testNgResolveBefore with data set #0" assertions="1" time="0.014861"/>
      </testsuite>
      <testsuite name="RouterTest::testNgResolveAfter" tests="1" assertions="1" failures="0" errors="0" time="0.014415">
        <testcase name="testNgResolveAfter with data set #0" assertions="1" time="0.014415"/>
      </testsuite>
      <testsuite name="RouterTest::testNgResolveCamelController" tests="3" assertions="3" failures="0" errors="0" time="0.043074">
        <testcase name="testNgResolveCamelController with data set #0" assertions="1" time="0.014405"/>
        <testcase name="testNgResolveCamelController with data set #1" assertions="1" time="0.014320"/>
        <testcase name="testNgResolveCamelController with data set #2" assertions="1" time="0.014349"/>
      </testsuite>
      <testsuite name="RouterTest::testNgResolveInvalidPath" tests="3" assertions="3" failures="0" errors="0" time="0.007770">
        <testcase name="testNgResolveInvalidPath with data set #0" assertions="1" time="0.002856"/>
        <testcase name="testNgResolveInvalidPath with data set #1" assertions="1" time="0.002261"/>
        <testcase name="testNgResolveInvalidPath with data set #2" assertions="1" time="0.002653"/>
      </testsuite>
      <testsuite name="RouterTest::testNgProhibitPath" tests="9" assertions="9" failures="0" errors="0" time="0.018628">
        <testcase name="testNgProhibitPath with data set #0" assertions="1" time="0.002294"/>
        <testcase name="testNgProhibitPath with data set #1" assertions="1" time="0.002062"/>
        <testcase name="testNgProhibitPath with data set #2" assertions="1" time="0.001953"/>
        <testcase name="testNgProhibitPath with data set #3" assertions="1" time="0.002357"/>
        <testcase name="testNgProhibitPath with data set #4" assertions="1" time="0.002112"/>
        <testcase name="testNgProhibitPath with data set #5" assertions="1" time="0.001974"/>
        <testcase name="testNgProhibitPath with data set #6" assertions="1" time="0.001976"/>
        <testcase name="testNgProhibitPath with data set #7" assertions="1" time="0.001941"/>
        <testcase name="testNgProhibitPath with data set #8" assertions="1" time="0.001959"/>
      </testsuite>
      <testsuite name="RouterTest::testNgMultipleSnakeController" tests="2" assertions="2" failures="0" errors="0" time="0.028166">
        <testcase name="testNgMultipleSnakeController with data set #0" assertions="1" time="0.013919"/>
        <testcase name="testNgMultipleSnakeController with data set #1" assertions="1" time="0.014247"/>
      </testsuite>
      <testsuite name="RouterTest::testNgUriWithoutUtf8EncodedString" tests="2" assertions="4" failures="0" errors="0" time="0.036463">
        <testcase name="testNgUriWithoutUtf8EncodedString with data set #0" assertions="2" time="0.017521"/>
        <testcase name="testNgUriWithoutUtf8EncodedString with data set #1" assertions="2" time="0.018942"/>
      </testsuite>
      <testsuite name="RouterTest::testNgUriWithNullByte" tests="1" assertions="1" failures="0" errors="0" time="0.002945">
        <testcase name="testNgUriWithNullByte with data set #0" assertions="1" time="0.002945"/>
      </testsuite>
      <testsuite name="RouterTest::testNgNoServiceNoModel" tests="1" assertions="1" failures="0" errors="0" time="0.017178">
        <testcase name="testNgNoServiceNoModel with data set #0" assertions="1" time="0.017178"/>
      </testsuite>
      <testsuite name="RouterTest::testExistServiceExistModelNoMethod" tests="1" assertions="1" failures="0" errors="0" time="0.018716">
        <testcase name="testExistServiceExistModelNoMethod with data set #0" assertions="1" time="0.018716"/>
      </testsuite>
      <testsuite name="RouterTest::testNgNoServiceExistModelNoMethod" tests="1" assertions="1" failures="0" errors="0" time="0.018824">
        <testcase name="testNgNoServiceExistModelNoMethod with data set #0" assertions="1" time="0.018824"/>
      </testsuite>
      <testsuite name="RouterTest::testNgExistServiceNoModelNoMethod" tests="1" assertions="1" failures="0" errors="0" time="0.019433">
        <testcase name="testNgExistServiceNoModelNoMethod with data set #0" assertions="1" time="0.019433"/>
      </testsuite>
      <testsuite name="RouterTest::testNgNotFoundRenderMethodProvider" tests="1" assertions="1" failures="0" errors="0" time="0.018208">
        <testcase name="testNgNotFoundRenderMethodProvider with data set #0" assertions="1" time="0.018208"/>
      </testsuite>
      <testsuite name="RouterTest::testNgNotFoundHelperMethod" tests="1" assertions="1" failures="0" errors="0" time="0.020748">
        <testcase name="testNgNotFoundHelperMethod with data set #0" assertions="1" time="0.020748"/>
      </testsuite>
    </testsuite>
    <testsuite name="SecurityTest" file="/Users/stay/workspace2/WebStream/core/test/SecurityTest.php" tests="6" assertions="5" failures="0" errors="0" time="0.081745">
      <testsuite name="SecurityTest::testOkDeleteInvisibleCharacter" tests="1" assertions="1" failures="0" errors="0" time="0.002408">
        <testcase name="testOkDeleteInvisibleCharacter with data set #0" assertions="1" time="0.002408"/>
      </testsuite>
      <testsuite name="SecurityTest::testOkReplaceXSSStrings" tests="1" assertions="1" failures="0" errors="0" time="0.002037">
        <testcase name="testOkReplaceXSSStrings with data set #0" assertions="1" time="0.002037"/>
      </testsuite>
      <testcase name="testOkCreateCsrfToken" class="SecurityTest" file="/Users/stay/workspace2/WebStream/core/test/SecurityTest.php" line="40" assertions="1" time="0.021715"/>
      <testcase name="testOkCsrfCheckByPostRequest" class="SecurityTest" file="/Users/stay/workspace2/WebStream/core/test/SecurityTest.php" line="55" assertions="0" time="0.002943"/>
      <testsuite name="SecurityTest::testOkCsrfCheckRequest" tests="2" assertions="2" failures="0" errors="0" time="0.052642">
        <testcase name="testOkCsrfCheckRequest with data set #0" assertions="1" time="0.029343"/>
        <testcase name="testOkCsrfCheckRequest with data set #1" assertions="1" time="0.023299"/>
      </testsuite>
    </testsuite>
    <testsuite name="UtilityTest" file="/Users/stay/workspace2/WebStream/core/test/UtilityTest.php" tests="10" assertions="11" failures="0" errors="0" time="0.559270">
      <testsuite name="UtilityTest::testCamel2Snake" tests="5" assertions="5" failures="0" errors="0" time="0.011196">
        <testcase name="testCamel2Snake with data set #0" assertions="1" time="0.002480"/>
        <testcase name="testCamel2Snake with data set #1" assertions="1" time="0.002104"/>
        <testcase name="testCamel2Snake with data set #2" assertions="1" time="0.002291"/>
        <testcase name="testCamel2Snake with data set #3" assertions="1" time="0.002232"/>
        <testcase name="testCamel2Snake with data set #4" assertions="1" time="0.002089"/>
      </testsuite>
      <testsuite name="UtilityTest::testXml2Array" tests="1" assertions="2" failures="0" errors="0" time="0.534895">
        <testcase name="testXml2Array with data set #0" assertions="2" time="0.534895"/>
      </testsuite>
      <testsuite name="UtilityTest::testEncodeAndDecode" tests="4" assertions="4" failures="0" errors="0" time="0.013179">
        <testcase name="testEncodeAndDecode with data set #0" assertions="1" time="0.002531"/>
        <testcase name="testEncodeAndDecode with data set #1" assertions="1" time="0.002099"/>
        <testcase name="testEncodeAndDecode with data set #2" assertions="1" time="0.002360"/>
        <testcase name="testEncodeAndDecode with data set #3" assertions="1" time="0.006189"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
