<html>
<head>
    <meta charset="utf-8"/>
    <title>CSRF CHECK</title>
</head>
<body>
    <form action="/WebStream/core/WebStream/Test/Sample/csrf_post_view" method="post">
        <input type="hidden" name="hoge" value="hoge"/>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>