<html>
<head>
    <meta charset="utf-8"/>
    <title>CSRF CHECK</title>
</head>
<body>
    <form action="/" method="post">
        <input type="button" value="submit"/>
    </form>
    <div><?php echo $_SESSION["__CSRF_TOKEN__"]; ?></div>
</body>
</html>