<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>かしこいshared</title>
    </head>
    <body>
        {% include "parts.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>