<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="UnitTest">
      <directory suffix="Test.php">Test</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./</directory>
      <exclude>
        <directory>./Test</directory>
        <directory>./Modules</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
